{
  "semi": true,
  "singleQuote": true,
  "printWidth": 160,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "vueIndentScriptAndStyle": true,
  "singleAttributePerLine": false,
  "plugins": ["prettier-plugin-vue"]
}
