@import '../variables';

.button-primary {
  background-color: darken($primary-color, 5%);
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 1px solid transparent;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  max-width: 140px;
  min-width: 140px;

  &:before {
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }

  &:hover {
    background-color: $primary-color;
    color: #fff;
    border-bottom: 1px solid darken(#fff, 10%);

    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: all 0.5s ease-in-out;
    }
  }
}
